.adminSidebar {
  background-color: black;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 250px; 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.adminH3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.adminSidebarDiv {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.adminSidebarDiv2 { 
  padding: 16px;
}
  
.adminSidebarIcons{
  display: flex;         
  align-items: center; 
  padding-top: 10px;      
  padding-bottom: 10px;
  padding-left: 16px;     
  padding-right: 16px;
  border-radius: 4px;  
}

.adminNavbar{
  display: flex;
  justify-content: space-between;
  height: 48px; 
  background-color: gray;
  font-size: 24px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.dashboard {
  display: flex;
}

.content{
  flex: 1;
  margin-left: 64px;
  background-color: gray;
  height: 800px;
}

.adminNavbarButton{
  padding: 4px 16px;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.adminSummary{
  padding: 24px;
}

.adminSummaryH3{
  font-size: 20px;
  font-weight: bold;
}

.adminSummaryDiv{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 24px;
  background-color: gray;
}

.adminDepartmentList .staffList{
  padding: 20px;
}

.adminDepartmentList .adminDepLiContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminDepartmentList .adminDepLiSearch{
  padding: 2px 16px;
}

.adminDepartmentList .adminDepLiAdd{
  padding: 8px 16px;
  background-color: gray;
  color: white;
  border-radius: 8px; 
  text-decoration: none;
}

.adminAddDepartment {
  max-width: 768px; 
  margin: 40px auto 0 auto; 
  background-color: white; 
  padding: 32px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 384px; 
}

.adminH2 {
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 24px; 
}

.adminAddDepLabel1 {
  font-size: 14px; 
  font-weight: 500; 
  color: gray; 
}

.adminInput {
  margin-top: 4px;
  display: block;
  width: 100%; 
  padding: 8px; 
  border: 1px solid #D1D5DB; 
  border-radius: 4px; 
}

.adminAddDepContent {
  margin-top: 12px; 
}

.adminLabel2 {
  display: block; 
  font-size: 14px; 
  font-weight: 500; 
  color: gray; 
}

.adminAddDepSubmit {
  width: 100%;
  margin-top: 24px; 
  background-color: gray;
  color: white; 
  font-weight: bold; 
  padding: 8px 16px; 
  border-radius: 4px; 
  cursor: pointer;
}

.adminAddDepSubmit:hover {
  background-color: #1F2937;
}

.addStaff{
  max-width: 640px;
  margin: 40px auto; 
  background-color: white;
  padding: 32px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addStaffContent{
  display: grid; 
  grid-template-columns: 1fr;
  gap: 16px;
}

